*.DS_Store
ENV/*
*node_modules/*
Backend/node-rest-api/node_modules/*
Backend/node-rest-api/datasets
Backend/package-lock.json
Backend/node-rest-api/instagram-scraper.log
*.jpg
*.jpeg
*.png
*.pyc
Backend/env/*

RXR1Q4lJucDATFD7
